* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
h1 {
    text-align: center;
}
.back {
    background-color: aquamarine;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.galleryCont {
    z-index: 0;
    background-color: black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
}