* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden2;
}
.videoContainer {
    width: 100vw;
    height: 100vh;
    background-color: #2F2F2F;
}
video {
    width: 100%;
    height: 100%;
}
.controlsContainer {
    height: 12rem;
    width: 5rem;
    /* background-color: aqua; */
    color: black;
    position: absolute;
    top:calc((100vh - 12rem )/ 2);
    right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.controlsContainer > * {
    width: 100%;
    height: 5rem;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recordBtn {
    background-color: red;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
.captureBtn {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: white;
}
.scaleRecord {
    animation-name: scaleRecord;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
.scaleCapture {
    animation-name: scaleCapture;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
@keyframes scaleRecord {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.1);
    }
}
@keyframes scaleCapture {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.1);
    }
}
.timerCont{
    color: aqua;
    position: absolute;
    top:50%;
    left: 5rem;
}
.timer {
    display: none;
}